// import
@import "libs/color.scss";
@import "libs/responsive.scss";
@import "libs/reset.scss";
@import "libs/mixins.scss";
@import "libs/function.scss";
@import "libs/font.scss";

// color
$color1: #0e1538;
$color2: linear-gradient(#00ccff,#d400d4);

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: $color1;
}

.box {
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $B00005;
    overflow: hidden;
    border-radius: 20px;
    &::before{
        content: '';
        position: absolute;
        width: 150px;
        height: 123%;
        background: $LinearCyanRose;
        animation: animate 4s linear infinite;
    }
    &::after{
        content: '';
        position: absolute;
        inset: 4px;
        background: $color1;
        border-radius: 16px;
    }
    & h2 {
        color: white;
        font-size: 10em;
        z-index: 10;
    }
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    } 100% {
        transform: rotate(360deg);
    }
}